.extension-title {
  color: red;
}
.packages {
  margin: 10px;
}
.version-range {
  margin: 10px;
}
.package-display {
  cursor: pointer;
  color: black;
  background-color: whitesmoke;
  border: 2px solid;
}
.package-display:hover {
  background-color: wheat;
}
.lines {
  border: 1px solid wheat;
}
.result {
  width: 90%;
  margin: 10px;
}